<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static',filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/journal">Journal</a>
        <a href ="/"> Home</a>
    </nav>
    <h1> Sentiment Analysis</h1>
    <div class="card">
        <form action ="/analyse" method="post">
            <textarea name="text" placeholder = "How are you feeling today...">
            </textarea>
            <button type="submit">Analyse</button>
        </form>
    </div>
</body>
</html>