<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static',filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href ="/journal">Journal</a>
    </nav>
    <div class="home">
        <h1> Sentimental Anaylsis</h1>
    </div>
    <div class="home-qoute">
        <p class="home-qoute-text">“At the center of your being you have the answer; 
            <br>you know who you are and you know what you want.”</p>
        <p class="home-qoute-author">-Lao Tzu</p>
    </div>
    <div class="home-card">
        <form action ="/analyse" method="post">
            <textarea name="text" placeholder = "How are you feeling today...">
            </textarea>
            <button type="submit">Analyse</button>
        </form>
    </div>
</body>
</html>